<!DOCTYPE html>
<html
        th:replace="layouts/layout-base :: page"
        xmlns:th="http://www.thymeleaf.org">

    <main class="container" th:fragment="content">

        <div class="row my-4 container-md">
            <div class="col-12">
                <div th:replace="fragments/breadcrumb :: breadcrumb(
                      link_page_home='https://www.thymeleaf.org/doc/articles/standardurlsyntax.html',
                      page_home='Home',
                      previous_page_link='',
                      previous_page='Professores',
                      current_page='Editar'


                    )">
                </div>

                <article class="conteudo-principal  mw-50  mt-2">
                    <div class="conteudo-principal-header px-2">
                        <h1 class="my-4 ">Editar Professor</h1>
                    </div>

                    <div class="conteudo-principal-content container-fluid">
                        <form action="#" autocomplete="off" class="my-4"
                              method="post" role="form" th:action="@{/save-atualizar-professor}">
                            <div class="row">
                                <!--            <div class="form-group col-md-6 has-validation">-->


                                <!--              <label class="form-label required" required >Selecione o usuário</label>-->
                                <!--              <select  class="form-select"  th:field="*{professor.pessoa.cpf}"  required>-->
                                <!--                <option th:each="usuario:${usuarios}" th:text="${usuario.pessoa.nome}"  th:value="${usuario.pessoa.cpf}" ></option>-->
                                <!--              </select>-->
                                <!--              <div class="invalid-feedback">Esse campo não pode estar vazio.</div>-->
                                <!--              <span class="text-danger" th:utext="${avisoProfessor}"></span>-->

                                <!--            </div>-->

                                <div class="form-group col-md-6 has-validation">
                                    <input class="form-control" id="id" required th:field="${professor.pessoa.id}"
                                           type="hidden">
                                    <input class="form-control" id="idProfessor" required th:field="${professor.id}"
                                           type="hidden">

                                    <label class="form-label required" for="data-admissao" required>Data de admissão</label>
                                    <input class="form-control" id="data-admissao" required
                                           th:field="${professor.data_admissao}" type="date">
                                    <div class="invalid-feedback">Esse campo não pode estar vazio.</div>
                                </div>

                                <div class="form-group col-md-6 has-validation">
                                    <label class="form-label required" for="siape" required>Número Siape</label>
                                    <input class="form-control" id="siape" required th:field="${professor.siape}"
                                           type="number">
                                    <div class="invalid-feedback">Esse campo não pode estar vazio.</div>
                                </div>

                                <div class="form-group col-md-6 has-validation">
                                    <label class="form-label required" for="cpf" required>CPF</label>
                                    <input class="form-control" id="cpf" required th:field="${professor.pessoa.cpf}"
                                           type="text">
                                    <div class="invalid-feedback">Esse campo não pode estar vazio.</div>
                                </div>

                                <div class="form-group col-md-6 has-validation">
                                    <label class="form-label required" for="nome" required>Nome</label>
                                    <input class="form-control" id="nome" required th:field="${professor.pessoa.nome}"
                                           type="text">
                                    <div class="invalid-feedback">Esse campo não pode estar vazio.</div>
                                </div>

                                <div class="form-group col-md-6 has-validation">
                                    <label class="form-label required" for="sexo" required>Sexo</label>
                                    <select  class="form-select mb-2" id="sexo" th:field="${professor.pessoa.sexo}" required>
                                        <option th:value="Masculino">Masculino</option>
                                        <option th:value="Feminino">Feminino</option>
                                    </select>
                                    <div class="invalid-feedback">Esse campo não pode estar vazio.</div>
                                </div>

                                <div class="form-group col-md-6 has-validation">
                                    <label class="form-label required" for="nascimento" required>Data de nascimento</label>
                                    <input class="form-control" id="nascimento" required
                                           th:field="${professor.pessoa.dataNascimento}" type="date">

                                    <div class="invalid-feedback">Esse campo não pode estar vazio.</div>
                                </div>

                                <div class="form-group col-md-6 has-validation">
                                    <label class="form-label required" for="rg" required>Registro Geral</label>
                                    <input class="form-control" id="rg" required th:field="${professor.pessoa.rg}"
                                           type="text">
                                    <div class="invalid-feedback">Esse campo não pode estar vazio.</div>
                                </div>

                                <div class="col-12 d-flex justify-content-between">
                                    <div>
                                        <button type="submit" class="btn  mt-4 btn-success submit-form-user">Atualizar</button>
                                    </div>

                                    <a th:href="@{/listar-professores}" class="btn mt-4 btn-danger text-white" >
                                        Cancelar
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </article>
            </div>
        </div>
    </main>
</html>