<header  th:fragment="header" class="header-bg">

  <nav  class="navbar navbar-expand-lg  d-flex align-items-center justify-content-between" aria-label="primary">
    <h1>E-School</h1>
    <ul class="">
      <li>
        <a href="">Alunos</a>
      </li>
      <li>
        <a href="">Cordenadores</a>
      </li>
      <li>
        <a href="">Disciplinas</a>
      </li>
      <li>
        <a href="">Professores</a>
      </li>
      <li>
        <a href="">Matriculas</a>
      </li>
      <li>
        <a href="">Turmas</a>
      </li>
    </ul>
  </nav>
</header>