<header  th:fragment="header" class="header-bg">

  <nav  class="navbar navbar-expand-lg  d-flex align-items-center justify-content-between" aria-label="primary">
    <h1>E-School</h1>
    <ul class=  "">
      <li>
        <a href="/admin/listar-usuarios">Alunos</a>
      </li>
      <li>
        <a href="/admin/listar-professores">Professores</a>
      </li>
      <li>
        <a href="/listar-turmas">Turmas</a>
      </li>
      <li>
        <a href="/listar-disciplinas">Disciplinas</a>
      </li>
      <li>
        <a href="/admin/listar-matriculas">Matriculas</a>
      </li>
      <li>
        <!--    Falta colocar um ícone ao invés no nome "logout"    -->
        <a class="btn-md" th:href="@{/logout}">Logout</a>
      </li>
    </ul>
  </nav>
</header>