body{
    margin: 0px;
    padding: 0px;
    color: #495057;
    font-family: 'Poppins', sans-serif;
    background-color: #EEF2F4;


}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
    margin: 0px;
}

ul {
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

.conteudo-principal{
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    border: 2px solid #d8e1ea;
}

.conteudo-principal-header{
    border-bottom: 2px solid #d8e1ea;
    width: 100%;
    align-items: center;

}

.conteudo-principal-header h1{
    font-size: 1.125rem;

}