body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

p {
    margin: 0;
}
.container-login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100%;
}

.form-login label {
    display: block;
}
.bg-card {
    height: 100vh;
    background-color: blueviolet;
}
.content {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    align-self: center;
    align-content: center;
}
.content h1,
p {
    text-align: center;
    color: #fff;
    font-size: 2rem;
}

form {
    display: grid;
    align-self: center;
    justify-content: center;
}

input::-webkit-input-placeholder {
    font-size: 0.7rem;
    align-self: center;
}
form{
    width: 100%;
}
form input,
button {
    font-size: 0.75rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    padding: 2px;
    padding-left: 8px;
    border-radius: 4px;
    /*width: 100%;*/
    border: 1px solid #e1e1e1;
    box-sizing: border-box;

}

form input:focus {
    outline: none;
}
.form-error{
    font-size: 10px;
    text-align: center;
}
form button {
    background-color: blueviolet;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: filter 0.2s;
}

form button:hover {
    filter: brightness(0.9);
}

@media (max-width: 700px) {
    .bg-card {
        height: 50vh;
    }
    .container-login {
        grid-template-columns: 1fr;
        height: 0px;
        font-size: 0.5rem;
    }
    form {
        margin-top: 20px;
    }
}
