<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="layouts/layout-base :: page">

<main class="container" th:fragment="content">

    <div class="row my-4 container-md">
        <article class="col-12">
            <div th:replace="fragments/breadcrumb :: breadcrumb(
              link_page_home='/aluno/listar-matriculas',
              page_home='Home',
              previous_page_link='',
              previous_page='',
              current_page='Notas'

            )">
            </div>
            <span th:if="${#request.getParameter('msg')} !=null" class="alert alert-primary par" role="alert" th:text="${#request.getParameter('msg')}"></span>
            <!-- Page Headisxng -->
            <article class="conteudo-principal  mw-50  mt-2 align-items-center  ">
                <div class="conteudo-principal-header px-2">
                    <h1 class="my-4">Minhas Notas</h1>
                </div>
                <div class="conteudo-principal-content container-fluid mb-4">
                    <table
                        data-toggle="table"
                        class="mt-2 table table-striped display"
                        id="table-disciplinas">
                        <thead>
                        <tr>
                            <th scope="col">Disciplina</th>
                            <th scope="col">Professor</th>
                            <th scope="col">Periodo</th>
                            <th scope="col">Unid. 1</th>
                            <th scope="col">Unid. 2</th>
                            <th scope="col">Unid. 3</th>
                            <th scope="col">Recuperação</th>
                            <th scope="col"><a role="button" th:href="@{/aluno/listar-matriculas/}"><i class="fa fa-home"></i> Voltar</a></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${#strings.toUpperCase(matricula.turma.disciplina.nome)}"></td>
                            <td th:text="${#strings.toUpperCase(matricula.turma.professor.pessoa.nome)}"></td>
                            <td th:text="${matricula.turma.periodo.nome}"></td>
                            <td th:text="${matricula.nota.nota1}"></td>
                            <td th:text="${matricula.nota.nota2}"></td>
                            <td th:text="${matricula.nota.nota3}"></td>
                            <td th:text="${matricula.nota.rec}"></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </article>
        </div>
    </div>
</main>
<script>

</script>
</html>