<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="layouts/layout-base :: page">

<main class="container " th:fragment="content">

  <div class="row my-4 container-md">
    <div class="col-12">
      <div th:replace="fragments/breadcrumb :: breadcrumb(
              link_page_home='',
              page_home='Home',
              previous_page='',
              previous_page_link='',
              current_page=''
            )">
      </div>
      <article class="align-items-center">
        <section class="cards mb-4">

          <div class="card green ">
            <div class="d-flex justify-content-between">
              <a href="/registration">Cadastrar usuarios</a>
              <a href="/admin/listar-usuarios">Listar usuarios</a>
              <i class="fa fa-solid fa-graduation-cap"></i>
            </div>


          </div>

          <div class="card blue">
            <div class="d-flex justify-content-between">
              <span>Disciplinas</span>
              <i class="fa fa-solid fa-file-text"></i>
            </div>
            <a href="/admin/cadastro-disciplina"> Cadastrar Disciplina </a>
            <a href="/admin/listar-disciplinas"> Listar Disciplina </a>
          </div>
          <div class="card blue-dark">
            <div class="d-flex justify-content-between">
              <span>Turmas</span>
              <i class="fa fa-solid fa-th"></i>

            </div>
            <a href="/admin/cadastro-turma"> Cadastrar turma </a>
            <a href="/admin/listar-turmas"> Listar turmas </a>
          </div>
        </section>
        <section class="cards mb-4">

         
        </section>
      </article>
    </div>
  </div>



</main>
<script>

</script>
</html>
