<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="layouts/layout-base :: page">

<main class="container" th:fragment="content">

    <div class="row my-4 container-md">
        <div class="col-12">
            <div th:replace="fragments/breadcrumb :: breadcrumb(
              link_page_home='https://www.thymeleaf.org/doc/articles/standardurlsyntax.html',
              page_home='Home',
              previous_page_link=''

            )">
            </div>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="disciplina : ${disciplinas}">
                    <td th:text="${disciplina.id}">ID</td>
                    <td th:text="${disciplina.nome}">Nome</td>
                    <td><a class="btn btn-warning" role="button" th:href="@{'/deletar-discplina/'}">Deletar </a></td>
                    <td><a class="btn btn-info"  role="button" th:href="@{'/editar-discplina/'}">Editar </a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>




</main>
<script>

</script>
</html>