<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="layouts/layout-base :: page">

<main class="container" th:fragment="content">

    <div class="row my-4 container-md">
        <div class="col-12">
            <div th:replace="fragments/breadcrumb :: breadcrumb(
              link_page_home='https://www.thymeleaf.org/doc/articles/standardurlsyntax.html',
              page_home='Home',
              previous_page='Usuários',
              previous_page_link=''

            )">
            </div>
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Usuário</th>
                        <th scope="col">E-mail</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="usuario : ${usuarios}">
                        <td th:text="${usuario.id}">ID</td>
                        <td th:text="${usuario.pessoa.nome.toUpperCase()}">Nome</td>
                        <td th:text="${usuario.getUserName()}">Usuário</td>
                        <td th:text="${usuario.getEmail()}">E-Mail</td>
                        <td><a class="btn btn-warning" role="button" th:href="@{/deletar-usuario/{id}(id=${usuario.id})}">Deletar </a></td>
                        <td><a class="btn btn-info"  role="button" th:href="@{/editar-usuario/{id}(id=${usuario.id})}">Editar </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<script>

</script>
</html>