<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="layouts/layout-base :: page">

<main class="container" th:fragment="content">

    <div class="row my-4 container-md">
        <div class="col-12">
            <div th:replace="fragments/breadcrumb :: breadcrumb(
                  link_page_home='/admin/home',
                  page_home='Home',
                  previous_page_link='',
                  previous_page='',
                  current_page='Disciplinas'
                )">
            </div>
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Excluir</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="disciplina : ${disciplinas}">
                        <td th:text="${disciplina.id}">ID</td>
                        <td th:text="${disciplina.nome}">Nome</td>
                        <td><a role="button" th:href="@{'/admin/editar-disciplina/' + ${disciplina.id}}"><i class="bi bi-pencil-square"></i></a></td>
                        <td><a role="button"  th:href="@{'/admin/deletar-disciplina/' + ${disciplina.id}}"><i class="bi bi-trash"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mt-4">
            <span th:if="${#request.getParameter('msg')} !=null" class="alert alert-primary par" role="alert" th:text="${#request.getParameter('msg')}"></span>
        </div>
    </div>

</main>
</html>