<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="layouts/layout-base :: page">

<main class="container" th:fragment="content">

    <div class="row my-4 container-md">
        <div class="col-12">
            <div th:replace="fragments/breadcrumb :: breadcrumb(
              link_page_home='',
              page_home='Home',
              current_page='Listar Matricula',
              previous_page_link=''

            )">
            </div>
            <span th:if="${#request.getParameter('msg')} !=null" class="alert alert-primary par" role="alert" th:text="${#request.getParameter('msg')}"></span>
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Aluno</th>
                        <th scope="col">Disciplina</th>
                        <th scope="col">Periodo</th>
                        <th scope="col">Professor</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="matricula : ${matriculas}">
                        <td th:text="${matricula.aluno.pessoa.nome}"></td>
                        <td th:text="${matricula.turma.disciplina.nome}"></td>
                        <td th:text="${matricula.turma.periodo.nome}"></td>
                        <td th:text="${matricula.turma.professor.pessoa.nome}"></td>

                        <td><a class="btn btn-warning" role="button"  th:href="@{'/admin/deletar-matricula/' + ${matricula.id}}">Deletar </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>



</div>
</main>
<script>

</script>
</html>