<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/head-page :: head"></head>
<body>
  <span class="container-login">
    <div class="bg-card">
      <div class="content">
        <h1>E-School</h1>
        <p>A sua solução em gestão escolar!</p>

      </div>
    </div>


    <form th:action="@{/login}"  method="post" class="form-login needs-validation">

      <label for="user_name">Usuário</label>
      <input type="text" id="user_name" name="user_name" placeholder="insira o seu usuário" required>

      <label for="password">Senha</label>
      <input type="password"  id="password" name="password" placeholder="insira a sua senha" required>
      <div align="center" th:if="${param.error}">
         <p style="font-size: 13px; color: #FF1C19;">Credenciais Inválidas</p>
      </div>
      <br/>
      <button type="Submit" name="Submit"  value="Login">Entrar</button>

    </form>


  </div>
  </span>
</body>
</html>