<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="layouts/layout-base :: page">

<main class="container" th:fragment="content">

    <div class="row my-4 container-md">
        <div class="col-12">
            <div th:replace="fragments/breadcrumb :: breadcrumb(
              link_page_home='https://www.thymeleaf.org/doc/articles/standardurlsyntax.html',
              page_home='Home',
              previous_page_link='',
              previous_page='Usuários',
              current_page='Cadastro'


            )">
            </div>
            <span class="mt-4">Cadastro de Usuários</span>
            <article class="form-cadastro-user border mw-50  mt-2 container-fluid  content-container">
                <form class="my-4"  action="#" th:action="@{/salvar-professor}"
                      method="post" autocomplete="off"  role="form">
                    <div class="row">
                        <div class="form-group col-md-6 has-validation">
                            <label class="form-label required" required >Selecione o usuário</label>
                            <select  class="form-select" id="sexo" th:field="*{professor.pessoa.cpf}"  required>
                                <option th:each="pessoa:${pessoas}" th:text="${pessoa.cpf}"  th:value="${pessoa.cpf}" ></option>
                            </select>
                            <div class="invalid-feedback">Esse campo não pode estar vazio.</div>
                        </div>

                        <div class="form-group col-md-6 has-validation">
                            <label for="nome" class="form-label required" required >Nome</label>
                            <input disabled  id="nome" type="text" th:field="${professor.pessoa.nome}" class="form-control">
                        </div>

                        <div class="form-group col-md-6 has-validation">
                            <label for="data-admissao" class="form-label required" required >Data de admissão</label>
                            <input id="data-admissao" type="text" th:field="${professor.data_admissao}" class="form-control date" required minlength="4">
                            <div class="invalid-feedback">Esse campo não pode estar vazio.</div>
                        </div>


                    <div class="col-12">
                        <button type="submit" class="btn  mt-4 btn-primary submit-form-user">Buscar</button>
                    </div>

                    </div>
                </form>
            </article>

<!--            <div th:if="${professor.pessoa.nome != null}">-->
<!--                <article class="form-cadastro-user border mw-50  mt-2 container-fluid  content-container">-->
<!--                    <form class="my-4"  action="#" th:action="@{/salvar-professor}"-->
<!--                          method="post" autocomplete="off"  role="form">-->
<!--                        <div class="row">-->
<!--                            -->
<!--                            <div class="form-group col-md-6 has-validation">-->
<!--                                <label for="data-admissao" class="form-label required" required >Data de admissão</label>-->
<!--                                <input id="data-admissao" type="text" th:field="${professor.data_admissao}" class="form-control date" required minlength="4">-->
<!--                                <div class="invalid-feedback">Esse campo não pode estar vazio.</div>-->
<!--                            </div>-->
<!--                            -->
<!--                            -->
<!--                            <div class="col-12">-->
<!--                                <button type="submit" class="btn  mt-4 btn-primary submit-form-user">Cadastrar</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </article>-->
<!--            </div>-->
        </div>
    </div>
</main>
<script>

</script>
</html>