<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="layouts/layout-base :: page">

<main class="container" th:fragment="content">

  <div class="row my-4 container-md">
    <div class="col-12">
      <div th:replace="fragments/breadcrumb :: breadcrumb(
              link_page_home='https://www.thymeleaf.org/doc/articles/standardurlsyntax.html',
              page_home='Home',
              previous_page_link='',
              previous_page='Usuários',
              current_page='Cadastro'


            )">
      </div>
      <span class="mt-4">Cadastro de Turma</span>
      <article class="form-cadastro-user border mw-50  mt-2 container-fluid  content-container">
        <form class="my-4"  action="#" th:action="@{/salvar-turma}"
              method="post" autocomplete="off"  role="form">
          <div class="row">
            <div class="form-group col-md-6 has-validation">
              <label for="nome" class="form-label required" required >Nome da turma</label>
              <input id="nome" type="text" th:field="${turma.nome}" class="form-control" required>
              <div class="invalid-feedback">Esse campo não pode estar vazio.</div>
            </div>

            <div class="form-group col-md-6 has-validation">
              <label for="turno" class="form-label required" required >Turno da turma</label>
              <select class="form-select" id="turno" required th:field="*{turma.turno}">
                <option value="Manhã">Manhã</option>
                <option value="Tarde">Tarde</option>
              </select>
            </div>

            <div class="form-group col-md-6 has-validation">
              <label for="disciplinaId" class="form-label required" required >Turno da turma</label>
              <select class="form-select" id="disciplinaId" required th:field="*{turma.disciplina}">
                <option th:each="disciplina:${disciplinas}" th:text="${disciplina.nome}" th:value="${disciplina.id}"></option>
              </select>
              <div class="invalid-feedback">Esse campo não pode estar vazio.</div>
            </div>

            <div class="form-group col-md-6 has-validation">
              <label for="professorId" class="form-label required" required >Selecione o professor</label>
              <select class="form-select" id="professorId" name="professor" required th:field="*{turma.professor}">
                <option th:each="professor:${professores}" th:text="${professor.nome}" th:value="${professor.id}"></option>
              </select>
              <div class="invalid-feedback">Esse campo não pode estar vazio.</div>
            </div>

            <div class="col-12">
              <button type="submit" class="btn  mt-4 btn-primary submit-form-user">Salvar</button>
            </div>

          </div>
        </form>
      </article>

    </div>
  </div>
</main>
<script>

</script>
</html>